<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Review</title>
</head>
<body>
  <h1>Edit Review</h1>
  <hr/>
  <form method="post">
    <fieldset>
      <legend>Edit Review</legend>
      <table>
        <tr>
          <td><label>content</label></td>
          <td><input type="text" name="content" value="<%= data.content %>" disabled /></td>
        </tr>
        <tr>
          <td><label>rating</label></td>
          <td><input type="text" name="rating" value="<%= data.rating %>" /></td>
        </tr>
      </table>
      <input type="submit" value="Submit!" />
    </fieldset>
  </form>
</body>
</html>